{% extends 'base.html'%}
{% block content %}
            <br><br>
            <div class="container">
                <!--{{response}}-->
                <div class="row">
            
                    <h2 class="col-12">Payment status regarding your order Id {{response.ORDERID}}</h2>
                    {% if response.RESPCODE == '01' %}
                    <h2 class="col-4">Transtaction id</h2>
                    <h2 class="col-8">: {{response.TXNID}}</h2>
                    <h2 class="col-4">Transtaction amount</h2>
                    <h2 class="col-8">: {{response.TXNAMOUNT}}</h2>
                    <h2 class="col-4">Transtaction status</h2>
                    <h2 class="col-8"> <span style="color: green;">: Success</span></h2>
                    <h2 class="col-4">Transtaction currency</h2>
                    <h2 class="col-8">: {{response.CURRENCY}}</h2>
                    <h2 class="col-4">Transtaction data&time</h2>
                    <h2 class="col-8">: {{response.TXNDATE}}</h2>
                    {% else %}
                    <h2>Order failed</h2>
                    {% endif%}
            
                </div>
            
            </div>
            

            <br><br><br><br>

            
{% endblock %}

